{% extends 'base.html' %} {% block title %}Admin_Event{% endblock %} {% block
content %}

<div class="ui container">
  <h1>Liste des Events</h1>

  <div class="ui divided items">
    {% for event in events %}
    <div class="item">
      <div class="content">
        <a class="header">{{ event.name }}</a>
        <div class="description">
          <p>{{ event.dispo }}</p>
          <p>{{ event.desc }}</p>
        </div>

        <form action="/change_event" method="get" style="display: inline">
          <input type="hidden" name="event_id" value="{{ event._id }}" />
          <button class="ui primary button" name="change_event" type="submit">
            Modifier
          </button>
        </form>

        <form action="/delete_event" method="post" style="display: inline">
          <input type="hidden" name="event_id" value="{{ event._id }}" />
          <button class="ui red button" name="delete_event" type="submit">
            Supprimer
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <button
    onclick="window.location.href = '/event'"
    name="create_event"
    class="ui button"
  >
    Create New Hotel
  </button>
</div>

{% endblock %}
