{% extends 'base.html' %}

{% block title %}Admin_bookings{% endblock %}

{% block content %}

<div class="ui container">
    <h1>List of all reservation</h1>
    
    <div class="ui celled list">
        <!-- Utilisez une boucle pour générer les éléments pour chaque réservation -->
        {% for reservation in reservations %}
            <div class="item">
                <div class="content">
                    <div class="header">Reservation room : {{ reservation.chambre_id }}</div>
                    <div class="description">
                        <p>Date in :  {{ reservation.datein }}</p>
                        <p>Date Out :  {{ reservation.dateout }}</p>
                        <p>Id User :  {{ reservation.user_id }}</p>
                    </div>
                    <div class="extra">
                        <form class="ui form" action="/change_booking" method="get">
                            <input type="hidden" name="booking" value="{{ reservation }}">
                            <button type="submit" name="change_booking" class="ui primary button">modified</button>
                        </form>
                        <form class="ui form" action="/delete_booking" method="post">
                            <input type="hidden" name="booking_id" value="{{ reservation.id }}">
                            <button type="submit" name="delete_booking" class="ui negative button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
