{% extends 'base.html' %}

{% block title %}Admin_rooms{% endblock %}

{% block content %}

<div class="ui container">
    <h1>Liste des Hôtels</h1>
    <div class="ui divided items">
        {% for hotel in hotels %}
            <div class="content">
                <a class="header">{{ hotel.name }}</a>
            </div>
            <div class="ui list">
                {% for room in rooms %}
                    {% if hotel.id == room.hotel_id %}
                        <div class="item">
                            <div class="content">
                                <a class="header">room number : {{ room.numero }}</a>
                                <div class="meta">
                                    <span>room for {{ room.nb_personne }}</span>
                                </div>
                                <div class="ui buttons">
                                    <form class="ui form" action="/change_room" method="get">
                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                        <button type="submit" name="change_room" class="ui primary button">modified</button>
                                    </form>
                                    <form class="ui form" action="/delete_room" method="post">
                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                        <button type="submit" name="delete_room" class="ui negative button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
