{% extends 'base.html' %} {% block title %}Buy{% endblock %} {% block
content %}

<div class="ui container">
  <h1>My Buying</h1>

  <div name="buy_list" class="ui celled list">
    <!-- Utilisez une boucle pour générer les éléments pour chaque réservation -->
    {% for reservation in reservations %}
    <div class="item">
      <div class="content">
        <div class="header">Reservation number: {{ reservation._id }}</div>
            <div class="description">
            <p name="event">Event id : {{ reservation.event }}</p>
            <p name="count">Count : {{ reservation.count }}</p>
            <p name="at">At : {{ reservation.At }}</p>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
