{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}

<div class="ui container">
    <h1>User Profile</h1>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <h3 name="pseudo">Pseudo: {{ session.pseudo }}</h3>
                <p name="email">Email: {{ session.email }}</p>
                <p name="role">Role: {{ session.role }}</p>
            </div>
            <div class="four wide column">
                <button name="modified" onclick="window.location.href = '/change_user'" class="ui icon primary button" >
                    <i class="pencil alternate icon"></i>
                    modified
                </button>
                <form class="ui form" action="/delete_user" method="post">
                    <button name="delete" type="submit" class="ui red button">delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
